@{
    ViewBag.Title = "User List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>User Management</h2>
    <div class="actions">
        <button type="button" class="btn btn-primary" onclick="CmdAdd_onclick()">
            <span class="glyphicon glyphicon-plus"></span> Register
        </button>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table id="MstUserListDataTable" class="table table-hover" style="width:100%;">
                <thead>
                    <tr>
                        <th>Detail</th>
                        <th>Delete</th>
                        <th>User</th>
                        <th>Full Name</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/jquery-2.0.3.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.dataTables.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-dataTables-paging.js"></script>
<script type="text/javascript" src="~/Scripts/toastr.js"></script>

<script>
    $(document).ready(function () {
        $('#MstUserListDataTable').dataTable({
            "bServerSide": true,
            "bProcessing": true,
            "sAjaxSource": "@Url.Action("MstUserList", "User")",
            "aoColumns": [
                {
                    "mData": "Id", "bSearchable": false,
                    "bSortable": false,
                    "sWidth": "80px", // Adjusted width
                    "mRender": function (data) {
                        return '<button type="button" class="btn btn-sm btn-default" onclick="CmdDetail_onclick(' + data + ')"><i class="glyphicon glyphicon-list-alt"></i> Detail</button>';
                    }
                },
                {
                    "mData": "Id",
                    "bSearchable": false,
                    "bSortable": false,
                    "sWidth": "80px", // Adjusted width
                    "mRender": function (data, type, row) {
                        var isDisabled = (data === 1); // or row.Id === 1
                        var disabledAttr = isDisabled ? "disabled" : "";

                        return '<button type="button" class="btn btn-sm btn-danger" ' + disabledAttr +
                            (isDisabled ? '' : ' onclick="CmdDelete_onclick(' + data + ')"') + '>' +
                            '<i class="glyphicon glyphicon-trash"></i> Delete</button>';
                    }
                },
                { "mDataProp": "Username" },
                { "mDataProp": "FullName" }
            ]
        });
    });

    function CmdDelete_onclick(id) {
        if (confirm("Do you want to delete this user: " + id)) {
            var data = { 'id': id };
            $.post('@Url.Action("MstUserListDelete", "User")', data,
                function (retdata) {
                    if (retdata == true) {
                        toastr.success("Record deleted successfully.");
                        // Full page reload as per original logic
                        location.reload();
                    }
                    else {
                        toastr.error("Record delete failed.");
                    }
                });
        }
    }

    function CmdDetail_onclick(id) {
        if (id > 0) {
            window.location.href = '@Url.Action("MstUserDetailView", "User")?Id=' + id;
        }
    }

    function CmdAdd_onclick() {
        window.location.href = '@Url.Action("MstUserDetailView", "User")';
    }
</script>