@{
    ViewBag.Title = "Customer Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>Customer Details</h2>
    <div class="actions">
        <button type="button" class="btn btn-primary" onclick="cmdSave_onclick()">
            <span class="glyphicon glyphicon-save"></span> Save
        </button>
        <button type="button" class="btn btn-success" onclick="cmdEdit_onclick()">
            <span class="glyphicon glyphicon-edit"></span> Edit
        </button>
        <button type="button" class="btn btn-default" onclick="cmdClose_onclick()">Close</button>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="IdMem">Customer No:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                        <input type="text" class="form-control" id="IdMem" name="Id" placeholder="Id" data-bind="value: Id" disabled="disabled" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="NameMem">Name:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control editable-field" id="NameMem" name="Name" placeholder="Name" data-bind="value: Name" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="AddressMem">Address:</label>
                    <textarea class="form-control editable-field" rows="3" id="AddressMem" name="Address" placeholder="Address" data-bind="value: Address"></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="ContactPersonMem">Contact Person:</label>
                    <input type="text" class="form-control editable-field" id="ContactPersonMem" name="ContactPerson" placeholder="Contact Person" data-bind="value: ContactPerson" />
                </div>

                <div class="form-group">
                    <label for="TelephoneMem">Telephone:</label>
                    <input type="text" class="form-control editable-field" id="TelephoneMem" name="Telephone" placeholder="Telephone" data-bind="value: Telephone" />
                </div>

                <div class="form-group">
                    <label for="FaxMem">Fax:</label>
                    <input type="text" class="form-control editable-field" id="FaxMem" name="Fax" placeholder="Fax" data-bind="value: Fax" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="saveConfirmModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="saveModalLabel">Confirm Save</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to save these changes?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="executeSaveButton">Save Changes</button>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-2.0.3.js" type="text/javascript"></script>
<script src="~/Scripts/knockout-3.0.0.js" type="text/javascript"></script>
<script src="~/Scripts/toastr.js" type="text/javascript"></script>

<script type="text/javascript">
    var koNamespace = {};
    var koMstCustomerViewModel;

    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    koNamespace.initViewModel = function (customer) {
        var paramId = getParameterByName("Id");
        var customerViewModel;

        if (paramId == 0) {
            customerViewModel = {
                Id: !$('#IdMem').val() ? 0 : $('#IdMem').val(),
                Name: $('#NameMem').val(),
                Address: $('#AddressMem').val(),
                ContactPerson: $('#ContactPersonMem').val(),
                Telephone: $('#TelephoneMem').val(),
                Fax: $('#FaxMem').val()
            };
        } else {
            customerViewModel = {
                Id: ko.observable(!customer ? 0 : customer.Id),
                Name: ko.observable(!customer ? "" : customer.Name),
                Address: ko.observable(!customer ? "" : customer.Address),
                ContactPerson: ko.observable(!customer ? "" : customer.ContactPerson),
                Telephone: ko.observable(!customer ? "" : customer.Telephone),
                Fax: ko.observable(!customer ? "" : customer.Fax)
            };
        }
        return customerViewModel;
    };

    koNamespace.bindData = function (customer) {
        var viewModel = koNamespace.initViewModel(customer);
        ko.applyBindings(viewModel);
        koMstCustomerViewModel = viewModel;
    };

    koNamespace.getMstCustomer = function () {
        var customerId = getParameterByName("Id");
        if (!customerId || customerId == 0) {
            koNamespace.bindData(null);
            cmdEdit_onclick(); // Enable fields for new entry
            return;
        }

        $.ajax({
            url: "@(Html.Raw(Url.Action("MstCustomerDetail", "Home")))?Id=" + customerId,
            type: 'get',
            contentType: 'application/json',
            success: function (result) {
                koNamespace.bindData(result);
                $('.editable-field').prop('disabled', true);
            }
        });
    };

    function executeSave() {
        $.ajax({
            url: "@Url.Action("MstCustomerDetailSave", "Home")",
            type: 'post',
            data: ko.toJSON(koMstCustomerViewModel),
            contentType: 'application/json',
            success: function () {
                toastr.success('Record saved successfully.');
                $('.editable-field').prop('disabled', true);
            },
            error: function () {
                toastr.error('Failed to save the record.');
            }
        });
        $('#saveConfirmModal').modal('hide');
    }

    function cmdSave_onclick() {
        var paramId = getParameterByName("Id");
        var modalTitle = (paramId == 0) ? "Confirm New Record" : "Confirm Update";
        $('#saveModalLabel').text(modalTitle);

        // For new records, we need to manually create the view model from the form fields
        if (paramId == 0 || !koMstCustomerViewModel) {
             koMstCustomerViewModel = koNamespace.initViewModel();
        }

        $('#saveConfirmModal').modal('show');
    }

    function cmdEdit_onclick() {
        $('.editable-field').prop('disabled', false);
        $('#NameMem').focus();
    }

    function cmdClose_onclick() {
        window.location.href = '@Url.Action("MstCustomerListView", "Home")';
    }

    $(document).ready(function () {
        koNamespace.getMstCustomer();
        $('#executeSaveButton').on('click', executeSave);
    });
</script>